<div class=" container main ">
        <div class="title-projects">
            <h1><span class="nu-span">N</span>uestros Proyectos</h1>
        </div>

        <div class="content-proyects">
            <div class="content-img">
                <img src="img/c1.jpg" alt="">
                <div class="view-projects">
                    <h2>Ver proyecto</h2>
                </div>
            </div>
            <div class="content-img">
                <img src="img/c1.jpg" alt="">
                <div class="view-projects">
                    <h2>Ver proyecto</h2>
                </div>
            </div>

            <div class="content-img">
                <img src="img/c1.jpg" alt="">
                <div class="view-projects">
                    <h2>Ver proyecto</h2>
                </div>
            </div>

            <div class="content-img">
                <img src="img/c1.jpg" alt="">
                <div class="view-projects">
                    <h2>Ver proyecto</h2>
                </div>
            </div>
            <div class="content-img">
                <img src="img/c1.jpg" alt="">
                <div class="view-projects">
                    <h2>Ver proyecto</h2>
                </div>
            </div>

            <div class="content-img">
                <img src="img/c1.jpg" alt="">
                <div class="view-projects">
                    <h2>Ver proyecto</h2>
                </div>
            </div>

        </div>




    </div>