<div class=" container main ">


    {{!-- <div class="row container-card-proyectos ">


        <div class="col-md-4  d-flex justify-content-center">
            <div class="card content-img">
                <img src="img/c1.jpg" alt="">
            </div>
        </div>

        <div class="col-md-4  d-flex justify-content-center">
            <div class="card content-img">
                <img src="img/c1.jpg" alt="">
            </div>
        </div>

        <div class="col-md-4   d-flex justify-content-center">
            <div class="card content-img">
                <img src="img/c1.jpg" alt="">
            </div>
        </div>

        <div class="col-md-4   d-flex justify-content-center">
            <div class="card content-img">
                <img src="img/c1.jpg" alt="">
            </div>
        </div>
        <div class="col-md-4   d-flex justify-content-center">
            <div class="card content-img">
                <img src="img/c1.jpg" alt="">
            </div>
        </div>
        <div class="col-md-4   d-flex justify-content-center">
            <div class="card content-img">
                <img src="img/c1.jpg" alt="">
            </div>
        </div>


        --}}



        <div class="content-proyects">
            <div class="content-img">
                <img src="img/c1.jpg" alt="">
            </div>
            <div class="content-img">
                <img src="img/c1.jpg" alt="">
            </div>

            <div class="content-img">
                <img src="img/c1.jpg" alt="">
            </div>
            <div class="content-img">
                <img src="img/c1.jpg" alt="">
            </div>
        </div>




    </div>