<div class="main ">
    <div class="card-logo">
        <h1>Arquitecto Leonardo Toledo</h1>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="card content-img">
                <img src="img/c1.jpg" alt="">
            </div>
        </div>
        <div class="col-md-4">
            <div class="card content-img">
                <img src="img/c1.jpg" alt="">
            </div>
        </div>
        <div class="col-md-4">
            <div class="card content-img">
                <img src="img/c1.jpg" alt="">
            </div>
        </div>
       
    </div>

    
    <div class="row">
        <div class="col-md-4">
            <div class="card content-img">
                <img src="img/c1.jpg" alt="">
            </div>
        </div>
        <div class="col-md-4">
            <div class="card content-img">
                <img src="img/c1.jpg" alt="">
            </div>
        </div>
        <div class="col-md-4">
            <div class="card content-img">
                <img src="img/c1.jpg" alt="">
            </div>
        </div>
       
    </div>

</div>