@media screen and (min-width:862px) {
    .card-logo {
        width: 70%;
        max-width: 1200px;
        border: 1px solid #ededed;
        background-color: #000;
        background-position: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
        padding: 20px 30px;
        position: relative;
        z-index: 99;
        opacity: .70;
        -webkit-box-shadow: 4px 2px 21px 7px rgba(255, 255, 255, 0.56);
        -moz-box-shadow: 4px 2px 21px 7px rgba(255, 255, 255, 0.56);
        box-shadow: 4px 2px 21px 7px rgba(255, 255, 255, 0.56);
    }

}

@media screen and (max-width:950px) {
    .header label {
        display: initial;
    }

    .header {
        padding: 20px 10%;
    }

    .header .navigation {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: rgb(1, 1, 1, 0.7);
        display: none;
    }

    .header .navigation ul li {
        width: 100%;
    }

    .header .navigation ul li a {
        padding: 8px 30px 8px 10%;
    }

    .header .navigation ul li ul {
        position: relative;
        width: 100%;
        left: 0;
    }

    .header .navigation ul li ul li {
        background-color: rgb(1, 1, 1, 0.7);
    }

    .header .navigation ul li ul li ul {
        position: relative;
        width: 100%;
        left: 0;
    }

    #toggle:checked~.navigation {
        display: block;
    }
}

@media screen and (min-width:690px) and (max-width:861px) {
    .card-logo h1 {
        text-align: center;
        color: white;
        font-style: italic;
        font-weight: 600;
        font-size: 27px;
    }
}


@media screen and (min-width:625px) and (max-width:690px) {
    .card-logo h1 {
        text-align: center;
        color: white;
        font-style: italic;
        font-weight: 600;
        font-size: 24px;
    }
}

@media screen and (min-width:538px) and (max-width:625px) {
    .card-logo h1 {
        text-align: center;
        color: white;
        font-style: italic;
        font-weight: 600;
        font-size: 20px;
    }
}


@media screen and (min-width:494px) and (max-width:538px) {
    .card-logo h1 {
        text-align: center;
        color: white;
        font-style: italic;
        font-weight: 600;
        font-size: 18px;
    }
}

@media screen and (max-width:494px) {
    .card-logo h1 {
        text-align: center;
        color: white;
        font-style: italic;
        font-weight: 600;
        font-size: 18px;
    }
}