@media screen and (max-width:768px) {

   .content-proyects {
        display: grid;
        grid-template-columns: 100%;
       /*  margin: 80px;
        gap: 25px; */
       
       
       
        
    } 
}