<header class="header">
    <div class="logo-menu">Menu</div>
    <input type="checkbox" id="toggle">
    <label for="toggle">
        <img class="menu" src="assets/menu.svg" alt="menu">
    </label>

    <nav class="navigation">
        <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Nosotros</a></li>
            <li> <a href="#">Contactanos</a></li>
        </ul>
    </nav>
</header>
<div class="hero"></div>