<header class="header">
    <div class="logo-menu">Menu</div>
    <input type="checkbox" id="toggle">
    <label for="toggle">
        <img class="menu" src="assets/menu.svg" alt="menu">
    </label>

    <nav class="navigation">
        <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Nosotros</a></li>
            <li><a href="#">Servicios</a>
                <ul>
                    <li><a href="#">Servicio 1</a></li>
                    <li><a href="#">Servicio 2</a></li>
                    <li><a href="#">Servicio 3</a></li>
                    <li><a href="#">Servicio 4</a></li>
                   {{!--  <ul>
                        <li><a href="#">Tipo A</a></li>
                        <li><a href="#">Tipo B</a></li>
                        <li><a href="#">Tipo C</a></li>
                        <li><a href="#">Tipo D</a></li>
                    </ul> --}}
                </ul>
            </li>
            {{!-- <li><a href="#">Blog</a>
                <ul>
                    <li><a href="#">Noticias</a></li>
                    <li><a href="#">Clima</a></li>
                    <li><a href="#">Fauna</a></li>
                    <li><a href="#">Restaurantes</a></li>
                </ul>
            </li> --}}

            <li> <a href="#">Contactanos</a></li>
        </ul>
    </nav>

</header>
<div class="hero"></div>